{% extends 'base.html' %}
{% block content%}
<h1>Создать Студента</h1>

<form method="POST">
    {% for field in form%}
    <div class="form-group">
     {% if field.widget.input_type != 'hidden' %}
      {{field.label}}
      {%endif%}
      {{field(class='form-control')}}
      {% if field.errors %}
      {% for error in field.errors%}
      <small class="form-text text-muted">{{ error }}</small>
      {%endfor%}  
      {%endif%}

    </div>
   {% endfor%}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{%endblock content%}
